<section class="stream-list__item">
   <div class="qa-rank">
        <div class="votes hidden-xs">
            {$data.question.good_question}<small>投票</small>
        </div>
        <if condition="$data['question']['answer_num'] eq 0">
	        <div class="answers">
	            {$data.question.answer_num}<small>回答</small>
	        </div>
	     </if>
	     <if condition="($data['question']['answer_num'] neq 0) and ($data['question']['best_answer'] eq 0)">
	     	<div class="answers answered">
	            {$data.question.answer_num}<small>回答</small>
	        </div>
	     </if>
	     <if condition="($data['question']['answer_num'] neq 0) and ($data['question']['best_answer'] gt 0)">
	     	<div class="answers answered solved">
	            {$data.question.answer_num}<small>解决</small>
	        </div>
	     </if>
        <div class="views hidden-xs viewsword0to99">
            <span>{$data.question.views}</span>
            <small>浏览</small>
        </div>
    </div>
    <div class="summary">
        <ul class="author list-inline">
              <li><a href="{$data.question.user.space_url}">{$data.question.user.nickname}</a><span class="split"></span>
              		<a href="{:U('Question/Index/detail',array('id'=>$data['id']))}" class="askDate">{$data.question.create_time|friendlyDate}</a>
              </li>
        </ul>
        <h2 class="title"><a href="{:U('Question/Index/detail',array('id'=>$data['question']['id']))}">{$data.question.title}</a></h2>
        <php>if(!empty($data['question']['tags'])){</php>
        <ul class="taglist--inline ib">
        	<php>$tags=explode(',',$data['question']['tags']);for($i=0;$i<count($tags);$i++){</php>
            <li class="tagPopup"><a class="tag tag-sm" href="{:U('Question/Index/tag',array('name'=>$tags[$i]))}"><php>echo $tags[$i];</php></a></li>    
            <php>}</php>
        </ul>
        <php>}</php>
     </div>
</section>