<extend name="Base/common"/>
<block name="header">
    <include file="Public/_nav"/>
</block>
<block name="body">
    <link href="__CSS__/weibo.css" type="text/css" rel="stylesheet"/>
    <div class="row" style="min-height:700px;">
        <div class="col-xs-8 ">
            <div class="common-block ">
                <header class="clearfix ">
                    <div class="pull-left bottom-line">微博{:L('_DETAIL_')}</div>
                    <div class="pull-right">
                        {:W('Common/Share/detailShare')}
                    </div>
                </header>
                <section>
                    <div id="weibo_list">
                    <div style="float:left;">
                    	<a href="{$user_info.space_url}"><img src="{$user_info.avatar64}" class="avatar-img img-responsive top_img"/></a>
                    	<a href="{$user_info.space_url}" class="user" style="display: block;text-align: center;width: 100%;margin-top: 5px;">{$user_info.nickname|htmlspecialchars}</a>
                    	</div>
                        <div class="row" id="weibo_{$weibo.id}" style="float:left;width:90%">
                            <div class="col-xs-12">
                                <div style="padding-left: 16px;margin-top:20px;">
                                    {$weibo.fetchContent}
                                    <div>
                                        <span class="text-primary">{$weibo.create_time|friendlyDate}</span>
                                        <div class="pull-right operation" style="margin-bottom: .5em;width: 50%">
                                            <php>
                                                $weiboCommentTotalCount = $weibo['comment_count'];
                                            </php>
                                            <include file="_operation"/>
                                            <if condition="$weibo['can_delete']">
                                                <a data-weibo-id="{$weibo.id}" title="{:L('_DELETE_')}" data-role="del_weibo" style="padding-left:10px;">
                                                    删除
                                                </a>
                                            </if>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row weibo-comment-list"
                                         data-weibo-id="{$weibo.id}">
                                        <div class="col-xs-12">
                                            <div class="light-jumbotron weibo-comment-block" style="padding: 1em 2em;">
                                                <div class="weibo-comment-container">
                                                    {:W('Comment/someComment',array('weibo_id'=>$weibo['id']))}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="common-block ">
                <header class="clearfix md">
                    <div class="pull-left bottom-line">{:L('_TIP_FAVOR_PEOPLE_')}</div>
                    <div class="pull-right bottom-line " style="border-bottom: none">{$supported.count} <span
                            class="text-muted">人</span></div>
                </header>
                <section>
                    <empty name="supported.data">
                        <div style="width: 210px;margin: auto" class="alert with-icon">
                            <i class="icon-inbox"></i>

                            <div class="content">{:L('_TIP_FAVOR_NOBODY_')}</div>
                        </div>
                    </empty>
                    <ul class="supported-users clearfix">
                        <volist name="supported.data" id="vo">
                            <li class="text-center text-ellipsis col-xs-3">
                                <a href="{$vo.user.space_url}" target="_blank" ucard="{$vo.uid}"><img
                                        style="width:64px;" class="avatar-img" src="{$vo.user.avatar128}"></a>
                                <br/>
                                {$vo.user.space_link}
                            </li>
                        </volist>
                    </ul>
                    <div class="text-center">
                        {$supported.html}
                    </div>
                </section>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/weibo.js"></script>
    <script>
        var SUPPORT_URL = "{:addons_url('Support://Support/doSupport')}";
        var auto_open_detail = 1;
        weibo_bind();
    </script>
    <link rel="stylesheet" href="__CSS__/photoswipe.css">
    <link rel="stylesheet" href="__CSS__/default-skin/default-skin.css">
    <script src="__JS__/photoswipe.min.js"></script>
    <script src="__JS__/photoswipe-ui-default.min.js"></script>
</block>
