<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/book.css" type="text/css" rel="stylesheet">
</block>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">
    <div id="wrapper">
        <div id="navsecond">
            <div class="sidebar-box">
            <ul>
                <li class="design"><a href="{:U('tutorials')}"
                <if condition="!$group_cate">class="active"</if>
                >
                {:L('_ALL_')}
                </a></li>
                <volist name="category" id="type">
                    <li class="design"><a href="{:U('tutorials',array('cate'=>$type['id']))}" data-id="{$type['id']}" class="ptype <if condition="
                       $group_cate eq $type['id']">active</if>">
                    {$type.title}
                    </a></li>
                </volist>
            </ul>
            </div>
        </div>
        <div id="project-content">
            <volist name="bookList" id="vo">
              <div class="pro-list" style="display: block;">
                <div class="item-title">
                  <h2>{$vo.title}</h2></div>
                <div class="pro-list-content">
                  <if condition="$vo['books'] neq null">
                    <volist name="vo.books" id="val">
                      <div class="pro-item">
                        <a href="{:U('Book/index/read',array('id'=>$val['id']))}" title="{$val.title}">
                          <div class="pro-item-img">
                            <img src="{$val.img|getThumbImageById=300,300}" style="" alt="{$val.title}" title="{$val.title}"></div>
                          <div class="pro-item-desc">
                            <h4>{$val.title}</h4>
                            <p><php>echo mb_substr(text($val['summary']), 0, 30, 'utf-8');</php>...</p>
                          </div>
                        </a>
                       </div>
                     </volist>
                  </if>
                </div>
              </div>
          </volist>
        </div>
    </div>
</block>