<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/login-main.css">  
</head>
<body class="sc reg">
<!-- 头部 -->
<header class="home-header">
    <a href="https://www.oschina.net/"><span class="logo"></span></a>
</header>
<!-- /头部 -->
<!-- 主体 -->
<div id="main-container" class="container">
    <div class="row">
        <section class="box vertical home-wrapper">
            <div class="col-xs-9 login  login-body" style="background: #ffffff">
                <div class="text-center login-title">登录</div>
                {:W('Login/login',array('type'=>"login"))}
            </div>
        </section>
    </div>
</div>
<include file="Public/js"/>
<!-- /主体 -->
<!-- 底部 -->
<footer class="home-footer">
    <div>
        <div>
            <span class="copy">©<span>开源中国(OSChina.NET) |  <a href="https://www.oschina.net/home/aboutosc" class="btn-link">关于我们</a> | <a href="mailto:market@oschina.cn" class="btn-link">广告联系</a> | <a href="http://weibo.com/oschina2010" class="btn-link">@新浪微博</a> | <a href="https://m.oschina.net/" class="btn-link">开源中国手机版</a>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备12009483号-3</a>
        </span></span></div>
        <div>
            开源中国(OSChina.NET)是 工信部开源软件推进联盟 指定的官方社区
        </div>
    </div>
</footer>
<!-- /底部 -->
</body>
</html>







